.mode-display {
  margin-top: 10px;
  margin-bottom: 10px;
}

.shared-data {
  display: flex;
  width: 100%;
}

.mode-handler {
  margin: auto;
  padding: 25px 25px;
  max-width: 750px;
  position: relative;
}
