.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background-color: #2e3141;
  color: #eee;
  display: flex;
  font-family: "Press Start 2P", cursive;

  .inner-div {
    max-width: 850px;
    background-color: #0c0c0c;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 15px 15px;

    button {
      margin: auto;
      width: 250px;
    }
  }
  .input-area {
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
  }
}
