.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background-color: black;
  color: #eee;

  .inner-div {
    background-color: #0c0c0c;
    width: 55%;
    margin: auto;
    padding: 15px 15px;
  }
  .input-area {
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
  }
}
